<meta charset="utf-8">
<title>Uyg</title>
<form action="compute" method="post">
 <div>
<p> maas </p>
<textarea name="input1"></textarea>
 </div>
 <div>
<p> gider </p>
<textarea name="input2"></textarea>
 </div>
 <div>
<p> anapara</p>
 <textarea name="input3" ></textarea>
 </div>
 <input type="submit" >
 <p >Birikim Hesabı:{{result}} </p>
 </form>

